<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
                <% if logged_in? %>
                  <li class="nav-item"><%= link_to "Users", "#", class: "nav-link" %></li>
                  <li class="nav-item dropdown">
                    <a href="#" id="account" class="dropdown-toggle nav-link">
                        Account <b class="caret"></b>
                    </a>
                    <div id="dropdown-menu" class="dropdown-menu">
                        <%= link_to "Profile", current_user, class: "dropdown-item" %>
                        <%= link_to "Settings", '#', class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Log out", logout_path,
                                               class: "dropdown-item",
                                               data: { "turbo-method": :delete } %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>